/* styles.css */
body {
  background-color: #05081c;
  font-family: Arial, sans-serif; 
}

#form {
  margin-top: 50px; 
  text-align: center
}

#input {
  width: 60%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#input:focus {
  outline: none;
  border-color: #007bff;
}
